! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:  nord4
*.background:  nord0
*.cursorColor: nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! Xft font

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcdfilter

! URxvt

URxvt.font: xft:Ubuntu Mono:size=12
URxvt.saveLines: 5000
URxvt.scrollBar: false
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

! Plugins
URxvt.perl-ext-common: default,keyboard-select,url-select
! matcher
!URxvt.url-launcher: sensible-browser
!URxvt.keysym.Control-Delete: perl:matcher:last
!URxvt.keysym.Meta-Delete: perl:matcher:list
!URxvt.matcher.button: 1
!URxvt.matcher.rend.0: Uline Bold
! resize-font (not explicitly required)
URxvt.keysym.Meta-k: font-size:increase
URxvt.keysym.Meta-j: font-size:decrease
! keyboard-select
URxvt.keysym.Meta-Escape: perl:keyboard-select:activate
URxvt.keysym.Meta-s: perl:keyboard-select:search
! url-select
URxvt.keysym.Meta-u: perl:url-select:select_next
URxvt.url-select.launcher: sensible-browser
URxvt.url-select.underline: true
URxvt.url-select.button: 1
